Repository nicklaustrup/dungeonchat, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, ui, context, styles, config, tests

Add TODO items: Fog Controls toggle fix and Firebase Caching migration
  TODO.md
Labels: none

Fix import path and update ProfanityFilterContext test
  FIREBASE_CACHING_PHASE_1_COMPLETE.md
  TODO.md
  src/App.js
  src/components/ChatHeader/UserMenu.js
  src/components/ChatRoom/ChatMessage.js
  src/components/ChatRoom/parts/InlineReplyContext.js
  src/components/InlineProfileEditor/InlineProfileEditor.js
  src/components/Landing/LandingPage.js
  src/components/ProfileDisplay/ProfileDisplay.js
  src/components/ProfileEditor/ProfileEditor.js
  src/components/ProfileSetupModal/ProfileSetupModal.js
  src/components/Settings/DeleteAccountSection.js
  src/components/SettingsMenu/SettingsMenu.js
  src/components/VTT/Canvas/MapCanvas.jsx
  src/contexts/ProfanityFilterContext.js
  src/contexts/__tests__/ProfanityFilterContext.test.js
  src/pages/ChatPage.js
  src/services/cache/useCachedUserProfile.js
Labels: ui, context

preserving documents
  FIREBASE_CACHING_MIGRATION_HANDOFF.md
  TODO.md
  src/components/ChatRoom/ChatMessage.js
  src/components/ChatRoom/__tests__/InlineReplyContext.profileClick.test.js
  src/components/ChatRoom/parts/InlineReplyContext.js
  src/contexts/CampaignContext.js
  src/pages/MapEditorPage.js
  src/services/cache/FirestoreCache.js
  src/services/cache/index.js
  src/services/cache/useCachedDocument.js
  src/services/cache/useCachedUserProfile.js
  src/services/cache/useCachedUserProfileData.js
Labels: ui, context

Fix useCachedUserProfile missing methods and improve cache logging
  src/services/cache/FirestoreCache.js
  src/services/cache/useCachedDocument.js
  src/services/cache/useCachedUserProfile.js
Labels: context

Fix cache index exports
  src/services/cache/index.js
Labels: context

saving for posterity
  .claude/settings.local.json
  FIREBASE_CACHING_MIGRATION_HANDOFF.md
  TODO.md
  firestore.indexes.json
  firestore.rules
  src/components/Campaign/CampaignBrowser.css
  src/components/Campaign/CampaignDashboard.js
  src/components/Campaign/CampaignMemberList.js
  src/components/CharacterCreationModal.js
  src/components/Navigation/CampaignSwitcher.css
  src/components/Navigation/CampaignSwitcher.js
  src/services/cache/FirestoreCache.js
  src/services/cache/index.js
  src/services/cache/useCachedDocument.js
  src/services/cache/useCachedUserProfileData.js
  src/tests/test-utils.js
Labels: ui, context, styles, tests

fixed fog view for DMs, edited some CSS
  TODO.md
  src/components/VTT/Canvas/MapCanvas.jsx
Labels: ui

fixed imports
  src/services/cache/index.js
Labels: context

fix(lint): add useCallback wrappers, fix hook dependencies, name default export
  CACHE_AUDIT_REPORT.md
  FIREBASE_CACHING_MIGRATION_HANDOFF.md
  TODO.md
  src/App.js
  src/components/FriendsListModal.css
  src/components/FriendsListModal.js
  src/services/FirebaseContext.js
  src/services/cache/FirestoreCache.js
  src/services/cache/index.js
  src/services/cache/useCachedDocument.js
  src/services/cache/useCampaignsCache.js
  src/services/cache/useCharactersCache.js
  src/services/cache/useMapsCache.js
  src/services/friendshipService.js
Labels: ui, context, styles

chore(release): 1.6.1 [skip ci]
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  be1d58591b27f59f646678bf37f761035c7fc4a6
Labels: none

feat: implement friends list and social features
  TODO.md
  firestore.rules
  src/components/Campaign/CampaignBrowser.css
  src/components/ChatHeader/UserMenu.js
  src/components/FriendsListModal/FriendsListModal.css
  src/components/FriendsListModal/FriendsListModal.js
  src/components/UserProfileModal/UserProfileModal.css
  src/components/UserProfileModal/UserProfileModal.js
  src/tests/ChatHeader/UserMenu.test.js
Labels: ui, styles, tests

refactor: use cached profile data in UserProfileModal
  src/components/UserProfileModal/UserProfileModal.js
Labels: ui

fix: resolve composite filter query error in friendshipService
  src/services/friendshipService.js
Labels: context

feat: implement campaign join waitlist system
  TODO.md
  firestore.rules
  src/components/Campaign/CampaignBrowser.js
  src/components/Campaign/JoinRequestsPanel.css
  src/components/Campaign/JoinRequestsPanel.js
  src/services/campaign/campaignRequestService.js
Labels: ui, context, styles

fix: handle missing userId in username search
  src/services/friendshipService.js
Labels: context

fix: add fallback for getDisplayInfo in ChatPage
  src/pages/ChatPage.js
Labels: none

feat(clickable-usernames): add global styles and clickable DM names
  src/components/Campaign/CampaignBrowser.js
  src/components/FriendsListModal.js
  src/styles/clickable-username.css
Labels: ui, styles

feat: reorganize UserProfileModal with better button placement
  src/components/UserProfileModal/UserProfileModal.css
  src/components/UserProfileModal/UserProfileModal.js
Labels: ui, styles

feat(clickable-usernames): add clickable DM name in CampaignPreview
  src/components/Campaign/CampaignPreview.js
Labels: ui

feat(clickable-usernames): complete clickable username implementation
  src/components/FriendsListModal.css
  src/components/FriendsListModal/FriendsListModal.js
  src/components/Voice/VoiceChatPanel.js
  src/styles/clickable-username.css
Labels: ui, styles

feat(clickable-usernames): add clickable names in Campaign Dashboard
  src/components/Campaign/CampaignDashboard.js
  src/components/Campaign/CampaignMemberList.js
Labels: ui

docs: update TODO with completed clickable usernames feature
  TODO.md
Labels: none

Fix clickable usernames and profile pictures in campaign members
  CAMPAIGN_MEMBER_LIST_FIXES.md
  CLICKABLE_USERNAME_FIX.md
  PROFILE_PICTURE_BUG_FIX.md
  QUICK_FIX_PROFILE_PICTURES.md
  src/App.css
  src/components/Campaign/CampaignMemberList.css
  src/components/Campaign/CampaignMemberList.js
  src/components/FriendsListModal/FriendsListModal.js
  src/hooks/useCampaignMembers.js
  src/styles/clickable-username.css
Labels: ui, context, styles

Add git commit summary documentation
  GIT_COMMIT_SUMMARY.md
Labels: none

Add new features to TODO: inventory system, item creation/trading, notifications, player settings, and project audit
  TODO.md
Labels: none

Add major features to TODO: encounter builder, map builder, procedural map generation, token builder, and voice chat bug fix
  TODO.md
Labels: none

updated TODOs
  TODO.md
Labels: none

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  0e076c6511a02275ba458592b3d8e2f3c152cf5e
Labels: none

fix: removed unused var from useCachedUserProfile
  src/services/cache/useCachedUserProfile.js
Labels: context

.github/labeler.yml:

# Auto labeling rules
backend:
  - 'functions/**'
ui:
  - 'src/components/**'
  - 'src/stories/**'
context:
  - 'src/services/**'
  - 'src/hooks/**'
styles:
  - 'src/**/*.css'
config:
  - '.github/**'
  - 'firebase.json'
  - 'apphosting.yaml'
tests:
  - 'src/tests/**'
