Repository nicklaustrup/dungeonchat, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, ui, context, styles, config, tests

.github/labeler.yml:

# Auto labeling rules
backend:
  - 'functions/**'
ui:
  - 'src/components/**'
  - 'src/stories/**'
context:
  - 'src/services/**'
  - 'src/hooks/**'
styles:
  - 'src/**/*.css'
config:
  - '.github/**'
  - 'firebase.json'
  - 'apphosting.yaml'
tests:
  - 'src/tests/**'

fixed dice history bug
  src/components/DiceRoll/DiceRollDisplay.js
Labels: ui

Implement Phase 2C character sheet dashboard integration
  docs/CAMPAIGN_SYSTEM_STRATEGY.md
  firestore.indexes.json
  src/components/Campaign/CampaignDashboard.css
  src/components/Campaign/CampaignDashboard.js
  src/components/Campaign/CampaignMemberList.css
  src/components/Campaign/CampaignMemberList.js
  src/components/CharacterCreationModal.css
  src/components/CharacterCreationModal.js
  src/components/CharacterSheet.css
  src/components/CharacterSheet.js
  src/hooks/useCharacterSheet.js
  src/models/CharacterSheet.js
  src/services/characterSheetService.js
Labels: ui, context, styles

Phase 2E Complete: Added initiative tracking system to campaigns
  docs/CAMPAIGN_SYSTEM_STRATEGY.md
  docs/INITIATIVE_SYSTEM.md
  docs/PHASE_2E_VERIFICATION.md
  firestore.rules
  src/components/Campaign/CampaignDashboard.css
  src/components/Campaign/CampaignDashboard.js
  src/components/CharacterCreationModal.css
  src/components/CharacterCreationModal.js
  src/components/CharacterSheet.css
  src/components/CharacterSheet.js
  src/components/ChatInput/ActionButtons.css
  src/components/ChatInput/ActionButtons.js
  src/components/ChatInput/CharacterCommandsHelp.css
  src/components/ChatInput/CharacterCommandsHelp.js
  src/components/ChatInput/ChatInput.js
  src/components/ChatRoom/ChatMessage.css
  src/components/ChatRoom/ChatMessage.js
  src/components/Session/InitiativeButton.css
  src/components/Session/InitiativeButton.js
  src/components/Session/InitiativeTracker.css
  src/components/Session/InitiativeTracker.js
  src/models/CharacterSheet.js
  src/services/characterContextService.js
  src/services/diceService.js
  src/services/initiativeService.js
  src/services/messageService.js
Labels: ui, context, styles

feat: Phase 2F Session Notes System - complete implementation
  docs/PHASE_2F_PLAN.md
  docs/PHASE_2F_SESSION_NOTES_COMPLETE.md
  firestore.rules
  src/components/Campaign/CampaignDashboard.js
  src/components/Session/SessionNotes.css
  src/components/Session/SessionNotes.js
  src/services/sessionService.js
Labels: ui, context, styles

docs: Update CAMPAIGN_SYSTEM_STRATEGY.md with Phase 2F Session Notes completion
  docs/CAMPAIGN_SYSTEM_STRATEGY.md
Labels: none

feat: Phase 2F Encounter Management System - complete implementation
  firestore.rules
  src/components/Campaign/CampaignDashboard.js
  src/components/Session/EncounterBuilder.css
  src/components/Session/EncounterBuilder.js
  src/components/Session/EncounterLibrary.css
  src/components/Session/EncounterLibrary.js
  src/components/Session/Encounters.css
  src/components/Session/Encounters.js
  src/components/Session/SessionNotes.css
  src/hooks/useCampaign.js
  src/services/encounterService.js
Labels: ui, context, styles

docs: Update Phase 2F progress - Encounter Management complete
  docs/CAMPAIGN_SYSTEM_STRATEGY.md
  docs/PHASE_2F_ENCOUNTER_MANAGEMENT_COMPLETE.md
Labels: none

feat: Phase 2F Sprint 3 - Calendar & Party Management System
  firestore.rules
  src/components/Campaign/CampaignDashboard.js
  src/components/Session/CampaignCalendar.css
  src/components/Session/CampaignCalendar.js
  src/components/Session/PartyManagement.css
  src/components/Session/PartyManagement.js
  src/services/partyService.js
  src/services/scheduleService.js
Labels: ui, context, styles

docs: Sprint 3 completion documentation
  docs/CAMPAIGN_SYSTEM_STRATEGY.md
  docs/PHASE_2F_CALENDAR_PARTY_COMPLETE.md
Labels: none

fix: Additional Sprint 3 fixes - formatGold null safety and calendar dark mode
  src/components/Session/CampaignCalendar.css
  src/components/Session/PartyManagement.js
Labels: ui, styles

docs: Sprint 3 bug fixes comprehensive report
  docs/SPRINT_3_BUG_FIXES.md
Labels: none

fix: Sprint 3 bug fixes - indexes, permissions, and null safety
  firestore.indexes.json
  src/components/Session/PartyManagement.js
Labels: ui

feat: add dark mode support to EncounterLibrary & PartyManagement
  src/components/Session/EncounterLibrary.css
  src/components/Session/PartyManagement.css
Labels: ui, styles

docs: Update bug fix report with latest fixes
  docs/SPRINT_3_BUG_FIXES.md
Labels: none

fix: Critical fixes - PartyManagement roles, Calendar light mode, Encounter dark mode
  src/components/Session/CampaignCalendar.css
  src/components/Session/EncounterBuilder.css
  src/components/Session/PartyManagement.js
Labels: ui, styles

refactor(theme): replace hardcoded white backgrounds with var(--bg-light)
  src/components/Session/EncounterBuilder.css
  src/components/Session/EncounterLibrary.css
  src/components/Session/PartyManagement.css
Labels: ui, styles

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  b0f7d289132d82cf30edd79c1c87fe7b8da0a524
Labels: none

feat(vtt): add shape drawing tools (circle, rectangle, cone, line) with live preview, persistence, visibility, and toolbar settings
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/Canvas/MapToolbar.jsx
Labels: ui

feat(vtt): add global snap-to-grid and apply to tokens (drag preview + final position)
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/TokenManager/TokenSprite.jsx
Labels: ui

feat(vtt): snap tokens to center of grid cell instead of intersections
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/TokenManager/TokenSprite.jsx
Labels: ui

feat(vtt): pulsing bright highlight for token snap target cell
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/Canvas/MapToolbar.jsx
  src/components/VTT/TokenManager/TokenSprite.jsx
Labels: ui

feat(vtt): grid configurator panel (live DM grid settings)
  src/components/VTT/Canvas/GridConfigurator.css
  src/components/VTT/Canvas/GridConfigurator.jsx
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/Canvas/MapToolbar.jsx
Labels: ui, styles

adjust vtt
  src/components/VTT/Canvas/MapCanvas.jsx
Labels: ui

feat: Add FX Library dropdown with Lighting panel in MapCanvas
  src/components/VTT/Canvas/MapCanvas.jsx
Labels: ui

docs: Add FX Library implementation summary
  FX_LIBRARY_IMPLEMENTATION.md
Labels: none

docs: Add FX Library quick start guide for DMs
  FX_LIBRARY_QUICK_START.md
Labels: none

fix: Add Firestore rules for lights collection and optimize Konva layers
  firestore.rules
  src/components/VTT/Canvas/MapCanvas.jsx
Labels: ui

docs: Add lighting system bug fixes documentation
  LIGHTING_BUGFIXES.md
Labels: none

fix: LightingPanel close button now works properly
  .github/instructions/fixing_bugs.md
  src/components/VTT/Lighting/LightingPanel.jsx
Labels: ui, config

fix: Enable lighting toggle button now works correctly
  src/services/vtt/lightingService.js
Labels: context

fix: Global lighting toggle button now updates UI immediately
  src/components/VTT/Canvas/MapCanvas.jsx
Labels: ui

feat: Add drag-and-drop light placement with visual preview
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/Lighting/LightingPanel.css
  src/components/VTT/Lighting/LightingPanel.jsx
Labels: ui, styles

feat: Add draggable light controls with context menu
  src/components/VTT/Canvas/MapCanvas.jsx
Labels: ui

docs: Add lighting placement & control guide
  LIGHTING_PLACEMENT_GUIDE.md
Labels: none

fix: Lights now properly illuminate dark areas
  src/components/VTT/Canvas/LightingLayer.jsx
Labels: ui

fix: Lights now properly reveal map and tokens underneath
  src/components/VTT/Canvas/LightingLayer.jsx
Labels: ui

feat: Show light radius indicator while dragging lights
  src/components/VTT/Canvas/MapCanvas.jsx
Labels: ui

feat: Add intensity controls for flicker and pulse effects
  .github/instructions/fixing_bugs.md
  src/components/VTT/Canvas/LightingLayer.jsx
  src/components/VTT/Lighting/LightingPanel.css
  src/components/VTT/Lighting/LightingPanel.jsx
Labels: ui, styles, config

feat: Add lighting fog reveal, player view toggle, and hidden token indicator
  src/App.css
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/Lighting/LightingPanel.css
  src/components/VTT/TokenManager/TokenSprite.jsx
  src/components/VTT/VTTSession/VTTSession.jsx
Labels: ui, styles
