Repository nicklaustrup/dungeonchat, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, ui, context, styles, config, tests

fixed pipeline 2
  .github/workflows/release.yml
  package-lock.json
Labels: config

build: add conventional-changelog-conventionalcommits for semantic-release
  package.json
Labels: none

build: configure releaseRules for build commits
  .releaserc.json
Labels: none

build(deps): sync lockfile after adding conventional-changelog-conventionalcommits
  package-lock.json
Labels: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  db40c23df71056fdf9f9f13e4357a77a83fcb6e6
Labels: none

Optimzed site for mobile users
  .eslintignore
  .github/instructions/instructions.md
  FUTURE_FEATURES.md
  MOBILE_REFACTOR.md
  functions/index.js
  scripts/lighthouse-baseline.js
  scripts/storybook-visual-capture.js
  src/App.css
  src/App.js
  src/components/ChatHeader/ChatHeader.js
  src/components/ChatHeader/SearchBar.js
  src/components/ChatInput/ChatInput.css
  src/components/ChatInput/EmojiMenu.js
  src/components/ChatRoom/ChatMessage.css
  src/components/ChatRoom/ChatMessage.js
  src/components/ChatRoom/ChatMessage.reactions.css
  src/components/ChatRoom/ChatMessage.tooltips.css
  src/components/ChatRoom/MessageList.js
  src/components/ChatRoom/parts/ReactionBar.js
  src/components/ChatRoom/parts/ReactionList.js
  src/components/SettingsModal/SettingsModal.js
  src/hooks/__tests__/usePerformanceMode.test.js
  src/hooks/__tests__/useViewportInfo.test.js
  src/hooks/useInitTelemetry.js
  src/hooks/useMessageMenuPosition.js
  src/hooks/usePerformanceMode.js
  src/hooks/useViewportInfo.js
  src/hooks/useVirtualKeyboard.js
  src/pages/ChatPage.js
  src/responsive.css
  src/setupTests.js
  src/telemetry/envTelemetry.js
  src/tests/a11y/ReactionList.a11y.test.js
  src/tests/interaction/ReactionBar.longpress.test.js
  src/tests/telemetry/envTelemetry.test.js
Labels: backend, ui, context, styles, config, tests

testing precommit hook
  .husky/pre-commit
  src/App.js
Labels: none

updated tests
  src/components/ChatRoom/__tests__/ChatMessage.integration.test.js
  src/components/ChatRoom/__tests__/ChatMessage.replyAndReactions.test.js
Labels: ui

updated sounds and settings
  FUTURE_FEATURES.md
  src/App.css
  src/assets/audio/message.mp3
  src/assets/audio/notification.mp3
  src/assets/audio/tap.m4a
  src/components/ChatInput/ChatInput.js
  src/components/ChatRoom/ChatRoom.js
  src/components/SettingsModal/SettingsModal.js
  src/components/TypingBubble/TypingBubble.js
  src/hooks/useTypingPresence.js
  src/pages/ChatPage.js
  src/tests/ChatInput/ChatInput.image.integration.test.js
  src/tests/hooks/useTypingPresence.test.js
  src/utils/sound.js
Labels: ui, context, styles, tests

chore(lint): resolve all eslint warnings, improve scroll + story hygiene
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  CONTRIBUTING.md
  FUTURE_FEATURES.md
  KNOWN_BUGS.md
  LICENSE
  README.md
  src/App.css
  src/components/ChatRoom/ChatRoom.js
  src/components/ChatRoom/REFACTOR_PLAN.md
  src/components/ChatRoom/__tests__/ChatRoom.loadingIndicator.test.js
  src/hooks/__tests__/useScrollPrependRestoration.test.js
  src/hooks/scrollDebugUtils.js
  src/hooks/useAutoScroll.js
  src/hooks/useChatMessages.js
  src/hooks/useInfiniteScrollTop.js
  src/hooks/useScrollPrependRestoration.js
  src/stories/ChatInput.stories.jsx
  src/tests/ChatHeader/useTruncationObserver.test.js
  src/tests/classifyMessageDiff.test.js
  src/utils/classifyMessageDiff.js
Labels: ui, context, styles, config, tests

chore: add eslint autofix to pre-commit, strengthened scroll logic, added scroll testing
  .husky/pre-commit
  src/components/ChatRoom/ChatRoom.js
  src/components/ChatRoom/__tests__/ChatRoom.scrollButton.autoFill.metaFail.test.js
  src/components/ChatRoom/__tests__/ChatRoom.scrollButton.behavior.test.js
  src/components/ChatRoom/__tests__/ChatRoom.scrollButton.metaFail.test.js
  src/components/ChatRoom/__tests__/ChatRoom.scrollButton.multiAppend.regression.test.js
  src/hooks/__tests__/useAutoScroll.appendPaginationRace.metaFail.test.js
  src/hooks/__tests__/useAutoScroll.integration.rapid.test.js
  src/hooks/__tests__/useAutoScroll.test.js
  src/hooks/__tests__/useAutoScroll.unread.behavior.test.js
  src/hooks/__tests__/useAutoScroll.unread.metaFail.test.js
  src/hooks/scrollDebugUtils.js
  src/hooks/useAutoScroll.js
  src/tests/classifyMessageDiff.heuristic.test.js
  src/utils/classifyMessageDiff.js
Labels: ui, context, tests

fixed mobile reaction bar bugs, improved UI/UX for mobile scroll button, remove unused var
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/meta-pr.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/tag-deploy.yml
  package.json
  src/App.css
  src/components/ChatInput/ChatInput.js
  src/components/ChatInput/EmojiMenu.js
  src/components/ChatRoom/ChatMessage.js
  src/components/ChatRoom/ChatMessage.reactions.css
  src/components/ChatRoom/MessageList.js
  src/components/ChatRoom/ScrollToBottomButton.js
  src/components/ChatRoom/parts/ReactionBar.js
  src/hooks/useAutoScroll.js
Labels: ui, context, styles, config

updated instructions
  .github/instructions/fixing_bugs.md
Labels: config

fix(image): prevent ImagePreviewModal render loop via controlled/uncontrolled sync guard
  src/App.css
  src/components/ChatInput/ChatInput.js
  src/components/ChatRoom/parts/ImagePreviewModal.js
  src/services/imageUploadService.js
Labels: ui, context, styles

sending images is stable
  .github/instructions/fixing_bugs.md
  Dockerfile
  MOBILE_REFACTOR.md
  apphosting.yaml
  scratch.txt
  src/App.css
  src/components/ChatInput/ChatInput.js
  src/components/ChatInput/ImagePreviewModal.js
  src/components/ChatInput/MessageBar.js
  src/components/ChatRoom/parts/ImagePreviewModal.js
  src/hooks/useImageMessage.js
  src/pages/ChatPage.js
  src/tests/ChatInput/ChatInput.image.modal.behavior.test.js
Labels: ui, context, styles, config, tests

image modal UX: disable send after click, show retry only on failure; added error state to hook & fixed eslint deps
  package.json
  src/App.css
  src/components/ChatInput/ChatInput.js
  src/components/ChatInput/ImagePreviewModal.js
  src/hooks/useImageMessage.js
  src/hooks/useToast.js
  src/setupTests.js
  src/tests/ChatInput/ChatInput.toast.failure.test.js
  src/tests/ChatRoom/ChatRoom.dragdrop.image.test.js
  src/tests/jest.setup.js
Labels: ui, context, styles, tests

image modal: temporarily remove retry button rendering (left code commented for future)
  src/components/ChatInput/ImagePreviewModal.js
Labels: ui

removed cumbersome testing console logs, resolved lint errors
  src/components/ChatRoom/ChatMessage.reactions.css
  src/hooks/scrollDebugUtils.js
  src/hooks/useImageMessage.js
  src/hooks/useReactions.js
  src/tests/test_use_reactions.test.js
Labels: ui, context, styles, tests

Add migration archive: Preserve all legacy code and migration artifacts for historical reference
  migration-archive/.env.development.local.example-with-flags
  migration-archive/.env.local-with-flags
  migration-archive/ChatRoom-with-feature-flags.js
  migration-archive/deployment-configs/.env.development
  migration-archive/deployment-configs/.env.production-100pct
  migration-archive/deployment-configs/.env.production-10pct
  migration-archive/deployment-configs/.env.production-25pct
  migration-archive/deployment-configs/.env.production-50pct
  migration-archive/deployment-configs/.env.production-75pct
  migration-archive/deployment-configs/.env.production-full
  migration-archive/deployment-configs/.env.production-full-deployment
  migration-archive/deployment-configs/.env.production-gradual
  migration-archive/deployment-configs/.env.production-rollback
  migration-archive/deployment-configs/.env.production-v2-only
  migration-archive/deployment-configs/.env.staging
  migration-archive/final-migration-report.json
  migration-archive/integration-tests/ChatRoom.scrollButton.autoFill.metaFail.test.js
  migration-archive/integration-tests/ChatRoom.scrollButton.behavior.test.js
  migration-archive/integration-tests/ChatRoom.scrollButton.metaFail.test.js
  migration-archive/integration-tests/ChatRoom.scrollButton.multiAppend.regression.test.js
  migration-archive/old-tests/useAutoScroll.appendPaginationRace.metaFail.test.js
  migration-archive/old-tests/useAutoScroll.integration.rapid.test.js
  migration-archive/old-tests/useAutoScroll.paginationScenarios.test.js
  migration-archive/old-tests/useAutoScroll.test.js
  migration-archive/old-tests/useAutoScroll.unread.behavior.test.js
  migration-archive/old-tests/useAutoScroll.unread.metaFail.test.js
  migration-archive/useAutoScroll-v1-archived.js
  migration-archive/useAutoScroll.ab-comparison.test.js-archived
Labels: none

fixed regression testing and ESLint issues
  src/components/ChatRoom/ChatRoom.js
  src/hooks/__tests__/useAutoScrollV2.debug.test.js
  src/hooks/__tests__/useAutoScrollV2.regressionTests.test.js
  src/hooks/useAutoScrollV2.js
  src/hooks/useScrollPrependRestoration.js
Labels: ui, context

Phase 1 Complete: State consolidation with ChatStateContext - core refactor done, image/drag tests need Phase 2 fix
  RENDER_ANALYSIS.md
  src/App.js
  src/components/ChatInput/ChatInput.js
  src/components/ChatRoom/ChatRoom.js
  src/components/ChatRoom/__tests__/ChatRoom.loadingIndicator.test.js
  src/contexts/ChatStateContext.js
  src/pages/ChatPage.js
  src/tests/ChatInput/ChatInput.image.integration.test.js
  src/tests/ChatInput/ChatInput.image.modal.behavior.test.js
  src/tests/ChatInput/ChatInput.integration.test.js
  src/tests/ChatInput/ChatInput.toast.failure.test.js
  src/tests/ChatRoom/ChatRoom.dragdrop.image.test.js
Labels: ui, tests

Document Phase 1 completion - ChatStateContext successfully implemented
  RENDER_ANALYSIS.md
Labels: none

Phase 2: Hook Reduction - Unified scroll management
  RENDER_ANALYSIS.md
  src/components/ChatRoom/ChatRoom.js
  src/hooks/useUnifiedScrollManager.js
Labels: ui, context

Complete test updates for Phase 2: Hook Reduction
  migration-archive/old-hook-tests/README.md
  migration-archive/old-hook-tests/useAutoScrollV2.debug.test.js
  migration-archive/old-hook-tests/useAutoScrollV2.regressionTests.test.js
  migration-archive/old-hook-tests/useAutoScrollV2.test.js
  migration-archive/old-hook-tests/useScrollPrependRestoration.test.js
  src/components/ChatRoom/__tests__/ChatRoom.loadingIndicator.test.js
  src/hooks/__tests__/useUnifiedScrollManager.test.js
  src/hooks/useUnifiedScrollManager.js
Labels: ui, context

Clean up and archive documentation
  docs/README.md
  migration-archive/docs-archive/README.md
  migration-archive/docs-archive/deployment-configs/deployment-instructions-100pct.md
  migration-archive/docs-archive/deployment-configs/deployment-instructions-10pct.md
  migration-archive/docs-archive/deployment-configs/deployment-instructions-25pct.md
  migration-archive/docs-archive/deployment-configs/deployment-instructions-50pct.md
  migration-archive/docs-archive/deployment-configs/deployment-instructions-75pct.md
  migration-archive/docs-archive/performance-reports/phase-2-2-test-report.json
  migration-archive/docs-archive/performance-reports/phase-2-3-analysis-quick.json
  migration-archive/docs-archive/performance-reports/phase-2-3-performance-analysis.json
  migration-archive/docs-archive/performance-reports/phase-3-1-migration-plan.json
  migration-archive/docs-archive/performance-reports/phase-3-3-deployment-report.json
  migration-archive/docs-archive/performance-reports/phase-3-3-validation-report.json
  migration-archive/docs-archive/phase-completions/MIGRATION-COMPLETE-SUCCESS.md
  migration-archive/docs-archive/phase-completions/PHASE-3-1-COMPLETE-CELEBRATION.md
  migration-archive/docs-archive/phase-completions/PHASE-3-2-PRODUCTION-READY.md
  migration-archive/docs-archive/phase-completions/PHASE-3-3-FINAL-READY.md
  migration-archive/docs-archive/phase-completions/current-complexity-analysis.md
  migration-archive/docs-archive/phase-completions/manual-test-scenarios.md
  migration-archive/docs-archive/phase-completions/phase-1-completion.md
  migration-archive/docs-archive/phase-completions/phase-2-1-completion.md
  migration-archive/docs-archive/phase-completions/phase-2-2-COMPLETE.md
  migration-archive/docs-archive/phase-completions/phase-2-2-completion.md
  migration-archive/docs-archive/phase-completions/phase-2-3-COMPLETE.md
  migration-archive/docs-archive/phase-completions/phase-3-1-COMPLETE.md
  migration-archive/docs-archive/phase-completions/phase-3-1-FINAL-COMPLETE.md
  migration-archive/docs-archive/phase-completions/phase-3-2-EXECUTION-PLAN.md
  migration-archive/docs-archive/phase-completions/phase-3-3-COMPLETE.md
  migration-archive/docs-archive/phase-completions/phase-3-3-DEPLOYMENT-SUCCESS.md
  migration-archive/docs-archive/phase-completions/phase-3-3-full-deployment-instructions.md
  migration-archive/docs-archive/phase-completions/phase-3-4-cleanup-preparation.md
  migration-archive/docs-archive/phase-completions/phase-3-migration-plan.md
Labels: none

Phase 3: Performance Optimization - Core Implementation Complete
  RENDER_ANALYSIS.md
  src/components/ChatRoom/MessageList.js
  src/hooks/useChatMessages.js
  src/hooks/useMessageSearch.js
  src/services/PresenceContext.js
Labels: ui, context

updated docs
  RENDER_ANALYSIS.md
  docs/FUTURE_FEATURES.md
  docs/KNOWN_BUGS.md
  docs/REFACTOR_COMPLETE.md
  docs/STORYBOOK_VISUAL_TESTING.md
  docs/archives/RENDER_ANALYSIS.md
  docs/archives/render-refactor-complete.md
  src/components/ChatRoom/__tests__/MessageList.performance.test.js
  src/hooks/__tests__/useChatMessages.performance.test.js
  src/hooks/__tests__/useMessageSearch.performance.test.js
  src/hooks/useChatMessages.js
  src/services/__tests__/PresenceContext.performance.test.js
Labels: ui, context

bug squashing and test updating - bypassing memory leak in test suite
  BUG_FIX_SUMMARY.md
  MANUAL_TESTING_GUIDE.md
  src/App.css
  src/components/ChatInput/ChatInput.js
  src/components/ChatRoom/ScrollToBottomButton.js
  src/hooks/__tests__/ChatInput.typing.bugfix.test.js
  src/hooks/__tests__/useUnifiedScrollManager.bugfix.test.js
  src/hooks/__tests__/useUnifiedScrollManager.final.test.js
  src/hooks/__tests__/useUnifiedScrollManager.newbugs.test.js
  src/hooks/__tests__/useUnifiedScrollManager.test.js
  src/hooks/useTypingPresence.js
  src/hooks/useUnifiedScrollManager.js
  src/utils/__tests__/classifyMessageDiff.bugfix.test.js
  src/utils/classifyMessageDiff.js
Labels: ui, context, styles

CRITICAL: Fix infinite loop in useUnifiedScrollManager
  src/hooks/useUnifiedScrollManager.js
Labels: context

Fix all remaining test failures in scroll manager test suite
  src/hooks/__tests__/useUnifiedScrollManager.final.test.js
  src/hooks/__tests__/useUnifiedScrollManager.newbugs.test.js
Labels: context

updated github actions docs
  .github/workflows/auto-label.yml
  .github/workflows/ci-deploy.yml
  .github/workflows/deploy.yml
  .github/workflows/meta-pr.yml
  .github/workflows/tag-deploy.yml
  .github/workflows/todo-report.yml
  GITHUB_ACTIONS_CLEANUP_SUMMARY.md
Labels: config

fixed typo
  .github/workflows/ci.yml
Labels: config

fixed ci cd
  src/hooks/__tests__/useUnifiedScrollManager.bugfix.test.js
  src/hooks/__tests__/useUnifiedScrollManager.final.test.js
  src/hooks/__tests__/useUnifiedScrollManager.newbugs.test.js
  src/hooks/useUnifiedScrollManager.js
Labels: context

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  0aadb188d9a65b89f3471affe2df26f7c506c226
Labels: none

trouble shoot ci cd
  .github/workflows/deploy.yml
  .github/workflows/tag-deploy.yml
  HUSKY_CI_FIX.md
  package-lock.json
  package.json
Labels: config

Add emoji picker error handling with graceful fallback and retry functionality
  docs/STYLE_GUIDE.md
  src/App.css
  src/components/ChatInput/ChatInput.css
  src/components/ChatInput/ChatInput.js
  src/components/ChatInput/EmojiMenu.js
  src/components/ChatRoom/ChatMessage.css
  src/components/ChatRoom/ChatMessage.menu.css
  src/components/ChatRoom/ChatMessage.modals.css
  src/components/ChatRoom/ChatMessage.reactions.css
  src/components/SettingsModal/SettingsModal.css
  src/components/TypingBubble/TypingBubble.css
  src/components/UserProfileModal/UserProfileModal.css
  src/responsive.css
  src/tests/components/ChatInput/EmojiMenu.error.test.js
Labels: ui, styles, tests

fixed css stuff
  src/App.css
Labels: styles

Added link rendering to message chats
  docs/clickable-links.md
  src/components/ChatRoom/ChatMessage.css
  src/components/ChatRoom/ChatMessage.js
  src/stories/ChatMessage.stories.jsx
  src/utils/__tests__/linkify.test.js
  src/utils/linkify.js
Labels: ui, styles

.github/labeler.yml:

# Auto labeling rules
backend:
  - 'functions/**'
ui:
  - 'src/components/**'
  - 'src/stories/**'
context:
  - 'src/services/**'
  - 'src/hooks/**'
styles:
  - 'src/**/*.css'
config:
  - '.github/**'
  - 'firebase.json'
  - 'apphosting.yaml'
tests:
  - 'src/tests/**'
