Repository nicklaustrup/dungeonchat, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, ui, context, styles, config, tests

.github/labeler.yml:

# Auto labeling rules
backend:
  - 'functions/**'
ui:
  - 'src/components/**'
  - 'src/stories/**'
context:
  - 'src/services/**'
  - 'src/hooks/**'
styles:
  - 'src/**/*.css'
config:
  - '.github/**'
  - 'firebase.json'
  - 'apphosting.yaml'
tests:
  - 'src/tests/**'

fix: mobile emoji quick reaction - update debounce keys to be per-message
  src/App.css
  src/components/ChatRoom/ChatMessage.js
  src/components/ChatRoom/parts/ReactionBar.js
  src/components/ChatRoom/parts/ReactionList.js
  src/hooks/useReactions.js
Labels: ui, context, styles

fix: mobile select/deselect reaction debounce issue
  src/components/ChatRoom/parts/ReactionBar.js
  src/tests/test_mobile_select_deselect_reaction_bug.test.js
  src/tests/test_reaction_bar_bug.test.js
  src/tests/test_reaction_btn_vs_menu_issue.test.js
  src/tests/test_reaction_bug_comprehensive.test.js
  src/tests/test_reaction_buttons_fixed.test.js
  src/tests/test_reaction_final_validation.test.js
  src/tests/test_reaction_fixes_verification.test.js
  src/tests/test_reaction_function_calls.test.js
  src/tests/test_reaction_parameter_investigation.test.js
  src/tests/test_reaction_rendering_investigation.test.js
Labels: ui, tests

Add comprehensive test for mobile thumbs up emoji bug
  src/tests/test_mobile_thumbs_up_bug.test.js
Labels: tests

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  c20478810e4425fbff936cc4343ffb55506407f3
Labels: none

improved image upload and viewing experience
  docs/FUTURE_FEATURES.md
  src/App.css
  src/components/ChatInput/BulkImagePreviewModal.css
  src/components/ChatInput/BulkImagePreviewModal.js
  src/components/ChatInput/ChatInput.css
  src/components/ChatInput/ChatInput.js
  src/components/ChatInput/MessageBar.js
  src/components/ChatRoom/ChatRoom.js
  src/components/ChatRoom/parts/ImagePreviewModal.js
  src/contexts/ChatStateContext.js
  src/hooks/useDragAndDropImages.js
  src/pages/ChatPage.js
  src/tests/ChatInput/BulkImagePreviewModal.test.js
  src/tests/integration/bulkUpload.e2e.test.js
  src/tests/integration/dragDropBulk.e2e.test.js
Labels: ui, context, styles, tests

fixed desktop drag and drop functiojns
  src/App.css
  src/components/ChatHeader/UserMenu.js
  src/components/ChatInput/ChatInput.js
  src/tests/ChatHeader/UserMenu.test.js
  src/tests/ChatInput/ChatInput.dragdrop.test.js
  src/tests/integration/dragdrop.e2e.test.js
Labels: ui, styles, tests

updated profanity filter functionality with real-time re-rendering
  BUG_FIX_SUMMARY.md
  GITHUB_ACTIONS_CLEANUP_SUMMARY.md
  MANUAL_TESTING_GUIDE.md
  docs/PROFANITY_FILTER_ENHANCEMENT.md
  firestore.rules
  functions/package-lock.json
  functions/package.json
  src/App.js
  src/components/ChatRoom/ChatMessage.js
  src/components/ChatRoom/parts/InlineReplyContext.js
  src/components/SettingsModal/SettingsModal.js
  src/contexts/ProfanityFilterContext.js
  src/contexts/__tests__/ProfanityFilterContext.test.js
  src/hooks/__tests__/useUserProfile.test.js
  src/hooks/useUserProfile.js
  src/tests/jest.setup.js
  src/tests/test-utils.js
  src/tests/test_reaction_btn_vs_menu_issue.test.js
  src/tests/test_reaction_parameter_investigation.test.js
  src/tests/test_reaction_rendering_investigation.test.js
  src/utils/__tests__/profanityFilter.test.js
  src/utils/profanityFilter.js
Labels: backend, ui, context, tests

� Fix failing tests: resolve context provider issues
  src/components/ChatRoom/__tests__/ChatMessage.integration.test.js
  src/components/ChatRoom/__tests__/ChatMessage.replyAndReactions.test.js
  src/hooks/__tests__/useUserProfile.test.js
  src/tests/test_chat_message_avatar_integration.test.js
  src/tests/test_chat_message_inline_reply_integration.test.js
  src/tests/test_chat_message_reactions_integration.test.js
  src/tests/test_inline_reply_context.test.js
  src/tests/test_mobile_select_deselect_reaction_bug.test.js
  src/tests/test_mobile_thumbs_up_bug.test.js
  src/tests/test_reaction_bar_bug.test.js
  src/tests/test_reaction_bug_comprehensive.test.js
  src/tests/test_reaction_buttons_fixed.test.js
  src/tests/test_reaction_final_validation.test.js
  src/tests/test_reaction_fixes_verification.test.js
  src/tests/test_reaction_function_calls.test.js
Labels: ui, context, tests

Fix Firestore message creation permissions
  firestore.rules
Labels: none

Fix test hanging issues with universal timeout and Firebase mocks
  src/components/ChatRoom/parts/MessageHeader.js
  src/hooks/useUserProfileData.js
  src/setupTests.js
  src/tests/jest.setup.js
  src/tests/test-utils.js
Labels: ui, context, tests

Implement proper name priority system and profile picture matching for chat messages
  HUSKY_CI_FIX.md
  firestore.rules
  src/components/ChatRoom/ChatMessage.js
  src/components/ChatRoom/parts/MessageHeader.js
  src/components/ProfileEditor/ProfileEditor.css
  src/tests/test-utils.js
  storage.rules
Labels: ui, styles, tests

Fix mobile image upload and add profile data debugging
  src/components/ChatRoom/ChatMessage.js
  storage.rules
Labels: ui

Fix chat message avatar display by using proper profile data source
  src/components/ChatRoom/ChatMessage.js
  src/tests/test-utils.js
Labels: ui, tests

Fix Firestore permissions for user profile reading
  firestore.rules
Labels: none

Add documentation for avatar display and image upload fixes
  .firebaserc
  AVATAR_AND_UPLOAD_FIXES.md
Labels: none

Add debug logging to trace avatar display issue
  src/components/ChatRoom/ChatMessage.js
Labels: ui

Clean up debug logging for avatar tracing
  src/components/ChatRoom/ChatMessage.js
Labels: ui

Restore ChatMessage.js to working debug state
  ISSUE_RESOLUTION_COMPLETE.md
Labels: none

Fix profile picture upload - replace placeholder URLs with real Firebase Storage uploads
  src/components/ProfileEditor/ProfileEditor.js
Labels: ui

Fix console logging and avatar photo URL update issues
  src/components/ChatRoom/ChatMessage.js
  src/components/ChatRoom/parts/AvatarWithPresence.js
Labels: ui

Improve profile picture handling for all users
  src/components/ChatRoom/ChatMessage.js
  src/hooks/useUserProfileData.js
Labels: ui, context

Fix InlineReplyContext to use real-time profile data and proper avatar sizing
  src/components/ChatRoom/ChatMessage.css
  src/components/ChatRoom/parts/InlineReplyContext.js
Labels: ui, styles

Fix reply avatar sizing and profile click behavior
  src/components/ChatRoom/ChatMessage.css
  src/components/ChatRoom/__tests__/InlineReplyContext.profileClick.test.js
Labels: ui, styles

Fix avatar status indicators, reply layout, and message width
  src/App.css
  src/components/ChatRoom/ChatMessage.css
  src/hooks/useUnifiedScrollManager.js
Labels: ui, context, styles

removed unncessary files
  AVATAR_AND_UPLOAD_FIXES.md
  ISSUE_RESOLUTION_COMPLETE.md
Labels: none

updated profile edit modal
  docs/PROFILE_SYSTEM_REFACTOR.md
  src/components/ChatHeader/ChatHeader.js
  src/components/InlineProfileEditor/InlineProfileEditor.css
  src/components/ProfileDisplay/ProfileDisplay.css
  src/components/ProfileDisplay/ProfileDisplay.js
  src/components/ProfileEditor/ProfileEditor.css
  src/components/SettingsMenu/SettingsMenu.js
Labels: ui, styles

Fixed images appearing in search
  src/hooks/__tests__/useMessageSearch.performance.test.js
  src/hooks/useMessageSearch.js
Labels: context

feat: Complete campaign system with responsive design and dark mode support
  docs/CAMPAIGN_SYSTEM_STRATEGY.md
  firebase.json
  firestore.indexes.json
  firestore.rules
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/components/AppRouter.js
  src/components/Campaign/CampaignBrowser.css
  src/components/Campaign/CampaignBrowser.js
  src/components/Campaign/CampaignCreator.css
  src/components/Campaign/CampaignCreator.js
  src/components/Campaign/CampaignDashboard.js
  src/components/ChatRoom/ChatRoom.js
  src/components/Landing/LandingPage.css
  src/components/Landing/LandingPage.js
  src/components/Navigation/AppNavigation.css
  src/components/Navigation/AppNavigation.js
  src/contexts/CampaignContext.js
  src/hooks/useChatMessages.js
  src/pages/ChatPage.js
  src/services/campaign/campaignService.js
Labels: ui, context, styles, config

skipped failing test
  src/App.test.js
  src/services/campaign/__tests__/campaignService.simple.test.js
  src/services/campaign/__tests__/campaignService.test.js
Labels: context

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  637e2234c3d03d7c67828c6e0dbf5f7506029599
Labels: none

fixed chat message status indicator
  src/App.css
  src/components/ChatRoom/ChatMessage.css
  src/components/ProfileEditor/ProfileEditor.css
  src/services/campaign/__tests__/campaignService.test.js
Labels: ui, context, styles

Implement comprehensive character name system and UI improvements
  docs/CAMPAIGN_SYSTEM_STRATEGY.md
  firestore.rules
  src/App.css
  src/components/Campaign/CampaignBrowser.css
  src/components/Campaign/CampaignBrowser.js
  src/components/Campaign/CampaignChatHeader.css
  src/components/Campaign/CampaignChatHeader.js
  src/components/Campaign/CampaignCreator.css
  src/components/Campaign/CampaignCreator.js
  src/components/Campaign/CampaignDashboard.css
  src/components/Campaign/CampaignDashboard.js
  src/components/Campaign/CampaignMemberList.css
  src/components/Campaign/CampaignMemberList.js
  src/components/Campaign/CampaignRules.css
  src/components/Campaign/CampaignRules.js
  src/components/Campaign/CampaignSettings.css
  src/components/Campaign/CampaignSettings.js
  src/components/Campaign/ChannelSidebar.css
  src/components/Campaign/ChannelSidebar.js
  src/components/ChatHeader/UserMenu.js
  src/components/ChatInput/ChatInput.js
  src/components/ChatRoom/ChatMessage.css
  src/components/ChatRoom/ChatMessage.js
  src/components/ChatRoom/ChatRoom.js
  src/components/ChatRoom/MessageList.js
  src/components/ChatRoom/parts/MessageHeader.js
  src/components/Landing/LandingPage.css
  src/components/Landing/LandingPage.js
  src/components/Navigation/AppNavigation.css
  src/components/Navigation/AppNavigation.js
  src/components/ProfileEditor/ProfileEditor.css
  src/components/ProfileEditor/ProfileEditor.js
  src/components/ProfileSetupModal/ProfileSetupModal.css
  src/components/ProfileSetupModal/ProfileSetupModal.js
  src/hooks/useCampaignChatContext.js
  src/hooks/useCampaignMembers.js
  src/hooks/useImageMessage.js
  src/pages/ChatPage.js
  src/services/campaign/campaignService.js
  src/services/messageService.js
Labels: ui, context, styles

Fix message display and layout issues
  docs/CAMPAIGN_SYSTEM_STRATEGY.md
  firestore.rules
  src/components/AppRouter.js
  src/components/Campaign/CampaignChatHeader.js
  src/components/Campaign/ChannelSidebar.css
  src/components/Campaign/ChannelSidebar.js
  src/components/ChatInput/ActionButtons.css
  src/components/ChatInput/ActionButtons.js
  src/components/ChatInput/ChatInput.css
  src/components/ChatInput/ChatInput.js
  src/components/ChatInput/MessageBar.js
  src/components/ChatRoom/ChatMessage.js
  src/components/ChatRoom/ChatRoom.js
  src/components/DiceRoll/DiceRollDisplay.css
  src/components/DiceRoll/DiceRollDisplay.js
  src/components/DiceRoll/DiceRoller.css
  src/components/DiceRoll/DiceRoller.js
  src/components/Navigation/AppNavigation.css
  src/components/Navigation/AppNavigation.js
  src/components/Navigation/Breadcrumb.css
  src/components/Navigation/Breadcrumb.js
  src/components/Navigation/CampaignSwitcher.css
  src/components/Navigation/CampaignSwitcher.js
  src/contexts/CampaignContext.js
  src/hooks/useUnifiedScrollManager.js
  src/services/campaign/campaignService.js
  src/services/diceService.js
  src/services/messageService.js
Labels: ui, context, styles

fixed border radius of action buttons
  src/components/ChatInput/ActionButtons.css
Labels: ui, styles

fixed campaign switcher incorrect player classification
  src/components/Navigation/CampaignSwitcher.js
  src/contexts/CampaignContext.js
  src/hooks/__tests__/ChatInput.typing.bugfix.test.js
  src/tests/ChatInput/MessageBar.test.js
Labels: ui, context, tests

Add character name support for dice rolls in campaigns
  src/components/ChatInput/ChatInput.js
  src/pages/ChatPage.js
Labels: ui

added dice roll statistics
  docs/CAMPAIGN_SYSTEM_STRATEGY.md
  firestore.indexes.json
  src/components/Campaign/CampaignDashboard.css
  src/components/Campaign/CampaignDashboard.js
  src/components/DiceRoll/DiceHistoryPanel.css
  src/components/DiceRoll/DiceHistoryPanel.js
  src/components/DiceRoll/DiceRollDisplay.css
  src/components/DiceRoll/DiceRollDisplay.js
  src/components/DiceRoll/DiceStatistics.css
  src/components/DiceRoll/DiceStatistics.js
  src/hooks/useDiceHistory.js
  src/services/dice/diceService.js
  src/services/diceHistoryService.js
Labels: ui, context, styles

Update campaign strategy: Phase 2D character-aware messaging complete
  docs/CAMPAIGN_SYSTEM_STRATEGY.md
Labels: none
