Repository nicklaustrup/dungeonchat, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, ui, context, styles, config, tests

.github/labeler.yml:

# Auto labeling rules
backend:
  - 'functions/**'
ui:
  - 'src/components/**'
  - 'src/stories/**'
context:
  - 'src/services/**'
  - 'src/hooks/**'
styles:
  - 'src/**/*.css'
config:
  - '.github/**'
  - 'firebase.json'
  - 'apphosting.yaml'
tests:
  - 'src/tests/**'

chore(release): 1.4.1 [skip ci]
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  13d72245b109619b5111bc1df0d554671e7bbdf1
Labels: none

fixed character token workflow and staged token drag
  src/components/Campaign/CampaignDashboard.css
  src/components/Campaign/CampaignDashboard.js
  src/components/Campaign/CampaignMemberList.js
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/TokenManager/TokenManager.css
  src/components/VTT/TokenManager/TokenManager.jsx
  src/components/VTT/TokenManager/TokenPalette.jsx
  src/hooks/useCharacterSheet.js
  src/services/characterSheetService.js
Labels: ui, context, styles

fixed grid offset and snapping + fog rendering
  FOG_EDGE_REVEAL_FIX.md
  src/components/VTT/Canvas/GridConfigurator.jsx
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/VTTSession/VTTSession.jsx
Labels: ui

added grid offset and fixed snap positioning
  FOG_AND_LIGHTING_FIXES.md
  GRID_OFFSET_FIX.md
  GRID_OFFSET_TEST_SCENARIOS.md
  firestore.rules
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/TokenManager/TokenSprite.jsx
Labels: ui

UI: toolbar resizing & settings flyout fix; remove unused imports
  .github/instructions/instructions.md
  KEYBOARD_SHORTCUTS_BUTTON_MOVED.md
  MAP_TOOLBAR_RESIZABLE.md
  MAP_TOOLBAR_UX_IMPROVEMENTS.md
  RESIZE_FIX.md
  RESIZE_HANDLE_SETTINGS_FIX.md
  TOOLTIP_REMOVED_BUTTON_SUBTLE.md
  VTT_UI_IMPROVEMENTS.md
  VTT_UI_IMPROVEMENTS_QUICK_REF.md
  VTT_UI_IMPROVEMENTS_VISUAL_GUIDE.md
  package-lock.json
  package.json
  src/components/VTT/Canvas/MapCanvas.css
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/Canvas/MapToolbar.css
  src/components/VTT/Canvas/MapToolbar.jsx
  src/components/VTT/VTTSession/VTTSession.jsx
Labels: ui, styles, config

moved fog button back to map tools
  AVATAR_UPLOAD_FIX_SUMMARY.md
  CHARACTER_TOKEN_IMAGES.md
  CHARACTER_TOKEN_IMAGES_IMPLEMENTATION.md
  CHARACTER_TOKEN_IMAGES_QUICK_GUIDE.md
  CHARACTER_TOKEN_IMAGES_UI_GUIDE.md
  DEPLOY_STORAGE_RULES.md
  USER_PROFILE_BUTTON_CONSOLIDATION.md
  src/components/Campaign/CampaignDashboard.js
  src/components/CharacterSheet.css
  src/components/CharacterSheet.js
  src/components/ChatHeader/UserMenu.js
  src/components/InlineProfileEditor/InlineProfileEditor.css
  src/components/Navigation/AppNavigation.js
  src/components/ProfileDisplay/ProfileDisplay.css
  src/components/ProfileDisplay/ProfileDisplay.js
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/Canvas/MapToolbar.jsx
  src/components/VTT/TokenManager/TokenPalette.css
  src/components/VTT/TokenManager/TokenSprite.jsx
  src/components/VTT/VTTSession/CharacterSheetPanel.jsx
  src/components/VTT/VTTSession/VTTSession.jsx
  src/services/characterSheetService.js
  src/tests/ChatHeader/UserMenu.test.js
  storage.rules
Labels: ui, context, styles, tests

improved map tool bar look and feel
  src/components/ProfileEditor/ProfileEditor.css
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/Canvas/MapToolbar.css
  src/components/VTT/Canvas/MapToolbar.jsx
  src/components/VTT/TokenManager/TokenManager.css
  src/components/VTT/VTTSession/VTTSession.jsx
Labels: ui, styles

set shape boundaries inside map
  SHAPE_BOUNDARY_ENFORCEMENT.md
  SHAPE_BOUNDARY_QUICK_REF.md
  SHAPE_BOUNDARY_REJECTION.md
  SHAPE_BOUNDARY_VISUAL_GUIDE.md
  src/components/VTT/Canvas/MapCanvas.css
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/Canvas/MapToolbar.css
Labels: ui, styles

feat: Add Phase 3 bug fixes, draggable lighting panel, and camera focus
  BUGFIXES_COMPLETE_SUMMARY.md
  BUGFIXES_VISUAL_GUIDE.md
  BUG_FIXES_POST_PHASE_3.md
  LIGHTING_PANEL_CENTER_CAMERA.md
  LIGHTING_PANEL_DRAGGABLE.md
  READY_FOR_PHASE_4.md
  TESTING_CHECKLIST.md
  TOKEN_MANAGER_BUGFIXES.md
  TOKEN_MANAGER_INTEGRATION_GUIDE.md
  TOKEN_MANAGER_PHASE_1_2_COMPLETE.md
  TOKEN_MANAGER_PHASE_3_COMPLETE.md
  TOKEN_MANAGER_STATUS.md
  TOKEN_MANAGER_UPGRADE_PLAN.md
  src/components/VTT/Canvas/LightingLayer.jsx
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/Lighting/LightingPanel.css
  src/components/VTT/Lighting/LightingPanel.jsx
  src/components/VTT/TokenManager/ActiveLightItem.jsx
  src/components/VTT/TokenManager/ActiveTokenItem.jsx
  src/components/VTT/TokenManager/ActiveTokensTab.css
  src/components/VTT/TokenManager/ActiveTokensTab.jsx
  src/components/VTT/TokenManager/TokenArtUpload.css
  src/components/VTT/TokenManager/TokenArtUpload.jsx
  src/components/VTT/TokenManager/TokenManager.css
  src/components/VTT/TokenManager/TokenManager.jsx
  src/components/VTT/TokenManager/TokenPalette.jsx
  src/components/VTT/TokenManager/TokenSprite.jsx
  src/utils/lightNameGenerator.js
Labels: ui, styles

Fixed fog brush and improved fog panel ui
  FOG_BRUSH_COMPLETE_SUMMARY.md
  FOG_BRUSH_IMPLEMENTATION.md
  FOG_BRUSH_QUICK_GUIDE.md
  FOG_BRUSH_REFERENCE_CARD.md
  FOG_PANEL_STYLING_UPDATE.md
  FOG_PANEL_UI_CHANGES.md
  FOG_SYSTEM_COMPLETE_IMPLEMENTATION.md
  MAP_TOOLBAR_FOG_PANEL_INTEGRATION.md
  src/components/VTT/Canvas/FogPanel.css
  src/components/VTT/Canvas/FogPanel.jsx
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/Canvas/MapToolbar.jsx
  src/components/VTT/Lighting/LightingPanel.jsx
Labels: ui, styles

Refine MapQueue UI: reorder controls on right, improved button sizing and layout
  MAP_LIBRARY_CONSOLIDATION.md
  MAP_LIBRARY_CONSOLIDATION_QUICK_REF.md
  MAP_LIBRARY_CONSOLIDATION_VISUAL_GUIDE.md
  MAP_QUEUE_COMPLETE_SUMMARY.md
  MAP_QUEUE_ENHANCEMENTS.md
  MAP_QUEUE_ENHANCEMENTS_VISUAL_GUIDE.md
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/VTTSession/MapQueue.css
  src/components/VTT/VTTSession/MapQueue.jsx
  src/components/VTT/VTTSession/VTTSession.jsx
Labels: ui, styles

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  162ce3a49aeb52f6ca124c6d56ef8f84749d8375
Labels: none

updated map preview scroll bars
  src/components/VTT/VTTSession/MapQueue.css
Labels: ui, styles

lights can no longer be placed off map, fixed player tokens not revealing fog of war
  src/components/VTT/Canvas/MapCanvas.jsx
Labels: ui

token list now centers camera properly and loads palette
  TOKEN_MANAGER_ACTIVE_TAB_FIX.md
  src/components/VTT/VTTSession/VTTSession.jsx
Labels: ui

Fix camera dragging and implement comprehensive panel state cleanup
  BOUNDARY_BUGFIXES_REALTIME_COLLISION.md
  BOUNDARY_SYSTEM_COMPLETE_SUMMARY.md
  BOUNDARY_SYSTEM_DEPLOYMENT_SUMMARY.md
  BOUNDARY_SYSTEM_IMPLEMENTATION.md
  BOUNDARY_SYSTEM_SUMMARY.md
  BOUNDARY_TESTING_GUIDE.md
  BUG_FIXES_OCTOBER_2025.md
  COLOR_CUSTOMIZATION_FEATURES.md
  PHASE_7_COLLISION_DETECTION_COMPLETE.md
  firestore.rules
  src/components/VTT/Canvas/BoundaryPanel.css
  src/components/VTT/Canvas/BoundaryPanel.jsx
  src/components/VTT/Canvas/FogPanel.css
  src/components/VTT/Canvas/FogPanel.jsx
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/Canvas/MapToolbar.jsx
  src/components/VTT/TokenManager/TokenSprite.jsx
  src/components/VTT/VTTSession/VTTSession.jsx
  src/services/vtt/boundaryService.js
  src/services/vtt/fogOfWarService.js
Labels: ui, context, styles

Add camera drag fix summary documentation
  CAMERA_DRAG_FIX_SUMMARY.md
Labels: none

Fix: Reset boundaryMode when clicking Fog, Boundary, or Grid buttons
  src/components/VTT/Canvas/MapToolbar.jsx
Labels: ui

Fix: Also reset boundaryMode when opening Settings panel
  src/components/VTT/Canvas/MapToolbar.jsx
Labels: ui

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  49a90e2fac0583d765a01c572efd7620227ac59b
Labels: none

Remvoed hp sync fix button
  src/components/VTT/VTTSession/VTTSession.jsx
Labels: ui

Fix campaign settings access and add session settings
  TODO.md
  src/components/Campaign/CampaignDashboard.js
  src/components/Campaign/CampaignSettings.css
  src/components/Campaign/CampaignSettings.js
Labels: ui, styles

Add campaign photo display to dashboard and browse page
  src/components/Campaign/CampaignBrowser.css
  src/components/Campaign/CampaignBrowser.js
  src/components/Campaign/CampaignDashboard.css
  src/components/Campaign/CampaignDashboard.js
  storage.rules
Labels: ui, styles

Update TODO: Mark campaign photo upload feature as complete
  TODO.md
Labels: none

Fix campaign photo permissions and styling issues
  TODO.md
  src/components/Campaign/CampaignBrowser.css
  src/components/Campaign/CampaignBrowser.js
  src/components/Campaign/CampaignDashboard.css
  src/components/Campaign/CampaignSettings.js
Labels: ui, styles

Update TODO: Mark campaign photo fixes as complete
  TODO.md
Labels: none

Fix campaign card badge layout - prevent overlap
  TODO.md
  src/components/Campaign/CampaignBrowser.css
  src/components/Campaign/CampaignBrowser.js
Labels: ui, styles

Update TODO: Mark badge layout fix as complete
  TODO.md
Labels: none

Update TODO: Mark campaign card visual improvements as complete
  TODO.md
Labels: none

Fix campaign header background overlay issue
  src/components/Campaign/CampaignBrowser.css
Labels: ui, styles

Implement campaign cards equal size and preview page
  src/components/AppRouter.js
  src/components/Campaign/CampaignBrowser.css
  src/components/Campaign/CampaignBrowser.js
  src/components/Campaign/CampaignPreview.css
  src/components/Campaign/CampaignPreview.js
Labels: ui, styles

Fix campaign browser card consistency and preview page styling
  TODO.md
  src/components/Campaign/CampaignBrowser.css
  src/components/Campaign/CampaignPreview.css
  src/components/Campaign/CampaignPreview.js
Labels: ui, styles

Mark campaign browser and preview fixes as complete in TODO
  TODO.md
Labels: none

Mark campaign cards and preview page feature as complete in TODO
  TODO.md
Labels: none

Add campaign browser badge and tag refinements to TODO
  TODO.md
Labels: none

Update TODO: Mark Firebase Caching System as complete
  TODO.md
Labels: none

Implement Firebase Caching System with specialized hooks
  CAMPAIGN_PHOTO_AND_UI_FIXES.md
  CAMPAIGN_SETTINGS_ACCESS_FIX.md
  CAMPAIGN_SETTINGS_ACCESS_FIXES_PART2.md
  FIREBASE_CACHING_SYSTEM.md
  src/components/ChatHeader/ChatHeader.js
  src/components/ChatHeader/UserMenu.js
  src/components/Navigation/AppNavigation.js
  src/services/cache/FirestoreCache.js
  src/services/cache/index.js
  src/services/cache/useCachedDocument.js
  src/services/cache/useCachedUserProfile.js
  src/services/cache/useCampaignsCache.js
  src/services/cache/useCharactersCache.js
  src/tests/ChatHeader/UserMenu.test.js
Labels: ui, context, tests
