Repository nicklaustrup/dungeonchat, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, ui, context, styles, config, tests

.github/labeler.yml:

# Auto labeling rules
backend:
  - 'functions/**'
ui:
  - 'src/components/**'
  - 'src/stories/**'
context:
  - 'src/services/**'
  - 'src/hooks/**'
styles:
  - 'src/**/*.css'
config:
  - '.github/**'
  - 'firebase.json'
  - 'apphosting.yaml'
tests:
  - 'src/tests/**'

docs: Add comprehensive guide for lighting fog reveal, player view, and hidden token features
  VTT_LIGHTING_FOG_FEATURES.md
Labels: none

fix: UI improvements - scrollable forms, condensed character sheet, moved player view button
  src/components/CharacterSheet.css
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/Canvas/MapToolbar.jsx
  src/components/VTT/Lighting/LightingPanel.css
  src/components/VTT/VTTSession/VTTSession.jsx
Labels: ui, styles

feat: Add context menu for clearing shapes with user-specific permissions
  src/App.css
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/Canvas/MapContextMenu.css
  src/components/VTT/Canvas/MapContextMenu.jsx
  src/components/VTT/VTTSession/ChatPanel.css
  src/services/vtt/shapeService.js
Labels: ui, context, styles

feat: Improve VTT fog rendering and reorganize canvas controls
  SHAPE_CLEARING_FEATURE.md
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/VTTSession/VTTSession.css
  src/components/VTT/VTTSession/VTTSession.jsx
Labels: ui, styles

refactor: Consolidate panel headers with reduced padding
  IMPLEMENTATION_PLAN_TOKEN_ENHANCEMENTS.md
  PANEL_HEADER_CONSOLIDATION.md
  VTT_UI_IMPROVEMENTS.md
  src/components/DiceRoll/DiceHistoryPanel.css
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/Canvas/MovementRuler.jsx
  src/components/VTT/TokenManager/TokenSprite.jsx
  src/components/VTT/VTTSession/ChatPanel.css
  src/components/VTT/VTTSession/PartyPanel.css
  src/components/VTT/VTTSession/ResizablePanel.css
  src/components/VTT/VTTSession/SharedPanelStyles.css
  src/hooks/vtt/useTokenMovement.js
Labels: ui, context, styles

working on VTT improvements and fixed login screen
  TOKEN_MANAGER_ENHANCEMENTS.md
  src/components/AuthModal/AuthModal.css
  src/components/SignIn/SignIn.css
  src/components/SignIn/SignIn.js
  src/components/VTT/Canvas/LightingLayer.jsx
  src/components/VTT/Canvas/MapCanvas.css
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/Canvas/MapToolbar.jsx
  src/components/VTT/TokenManager/TokenContextMenu.css
  src/components/VTT/TokenManager/TokenContextMenu.jsx
  src/components/VTT/TokenManager/TokenManager.jsx
  src/components/VTT/TokenManager/TokenPalette.css
  src/components/VTT/TokenManager/TokenPalette.jsx
  src/components/VTT/TokenManager/TokenSprite.jsx
  src/components/VTT/VTTSession/ChatPanel.css
  src/components/VTT/VTTSession/ChatPanel.jsx
  src/components/VTT/VTTSession/VTTSession.jsx
  src/pages/ChatPage.js
Labels: ui, styles

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  d30c6649a58dfcef3b988757d245481713a8a3b2
Labels: none

hotfix to move voice to vtt
  firestore.rules
  src/components/VTT/VTTSession/VTTSession.jsx
  src/pages/ChatPage.js
Labels: ui

hot fix for map library
  functions/README.md
  functions/deleteUser.js
Labels: backend

Add drag-and-drop upload to map library
  MAP_UPLOAD_FIX.md
  MAP_UPLOAD_IMPLEMENTATION.md
  src/components/VTT/MapEditor/MapEditor.jsx
  src/components/VTT/MapEditor/MapUploader.jsx
  src/components/VTT/MapLibrary/MapLibrary.css
  src/components/VTT/MapLibrary/MapLibrary.jsx
Labels: ui, styles

Fix DM permissions in Firestore rules - allow DM access without member document
  firestore.rules
Labels: none

Export deleteUser cloud function
  functions/index.js
Labels: backend

Fix drag-and-drop border rendering in map library
  DRAG_BORDER_FIX.md
  src/components/VTT/MapLibrary/MapLibrary.css
Labels: ui, styles

Add input/output device selection to voice chat settings
  VOICE_DEVICE_SELECTION.md
  src/components/Voice/VoiceChatPanel.js
  src/components/Voice/VoiceSettings.css
  src/components/Voice/VoiceSettings.js
Labels: ui, styles

Fix WebRTC answer handling race condition
  WEBRTC_ANSWER_FIX.md
  src/services/voice/signalingService.js
  src/services/voice/webrtcManager.js
Labels: context

Add token auto-creation on character creation and make staging tokens draggable
  TOKEN_AUTO_CREATION_FIX.md
  src/components/VTT/TokenManager/TokenManager.css
  src/components/VTT/TokenManager/TokenManager.jsx
  src/services/characterSheetService.js
Labels: ui, context, styles

fix: Active map not syncing between DM and players
  ACTIVE_MAP_SYNC_FIX.md
  USER_DELETION_SUMMARY.md
  VOICE_CHAT_PERMISSION_FIX.md
  docs/FIRESTORE_PERMISSIONS_GUIDE.md
  docs/USER_DELETION.md
  src/components/Settings/DeleteAccountSection.css
  src/components/Settings/DeleteAccountSection.js
  src/components/VTT/VTTSession/VTTSession.jsx
  src/services/userDeletionService.js
  src/services/vtt/mapService.js
Labels: ui, context, styles

chore(release): 1.3.1 [skip ci]
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  f449cae5bf70fe013d510eff2e86bd5fbf75a02e
Labels: none

feat: Add drag-to-create for token types in Token Manager
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/TokenManager/TokenPalette.css
  src/components/VTT/TokenManager/TokenPalette.jsx
Labels: ui, styles

docs: Add comprehensive documentation for VTT UX improvements
  VTT_UX_IMPROVEMENTS.md
Labels: none

feat: Comprehensive VTT improvements
  src/components/VTT/Canvas/GridConfigurator.jsx
  src/components/VTT/Canvas/GridLayer.jsx
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/TokenManager/TokenPalette.jsx
  src/components/VTT/TokenManager/TokenSprite.jsx
  src/components/VTT/VTTSession/VTTSession.css
  src/components/VTT/VTTSession/VTTSession.jsx
  src/hooks/vtt/useCanvasTools.js
  src/hooks/vtt/useCanvasTools.test.js
Labels: ui, context, styles

Fix grid configurator enabled checkbox and fire icon sync
  src/components/VTT/Canvas/GridConfigurator.jsx
  src/components/VTT/Canvas/MapCanvas.jsx
Labels: ui

Add comprehensive bug fix documentation for grid and fire icons
  VTT_BUG_FIXES.md
Labels: none

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  d5d27d2181cec02f04d4c28775106a39a30ef22a
Labels: none

Fix VTT system issues: lighting, fog, shapes, and token drag visuals
  src/components/VTT/Canvas/LightingLayer.jsx
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/TokenManager/TokenPalette.jsx
Labels: ui

Fix token name word wrap and enable shape tools for all players
  VTT_SYSTEM_FIXES.md
  src/components/VTT/Canvas/MapToolbar.jsx
  src/components/VTT/TokenManager/TokenSprite.jsx
Labels: ui

Improve token names, shape fade timing, and ambient lighting
  TOKEN_NAME_AND_SHAPE_TOOL_FIXES.md
  src/components/VTT/Canvas/LightingLayer.jsx
  src/components/VTT/TokenManager/TokenSprite.jsx
  src/hooks/vtt/useLighting.js
  src/services/vtt/shapeService.js
Labels: ui, context

Fix advanced lighting system: integrate time of day with ambient light
  UI_UX_IMPROVEMENTS.md
  src/components/VTT/Canvas/LightingLayer.jsx
Labels: ui

Add comprehensive lighting system documentation
  LIGHTING_SYSTEM_FIX.md
Labels: none

Add VTT features and fix lighting issues
  src/components/VTT/Canvas/LightingLayer.jsx
  src/components/VTT/Canvas/MapToolbar.jsx
  src/components/VTT/Lighting/LightingPanel.css
  src/components/VTT/Lighting/LightingPanel.jsx
  src/services/vtt/boundaryService.js
  src/services/vtt/cursorService.js
  src/services/vtt/drawingService.js
  src/services/vtt/shapeService.js
Labels: ui, context, styles

Fix remaining lighting issues and fog of war permissions
  firestore.rules
  src/components/VTT/Canvas/LightingLayer.jsx
  src/components/VTT/Lighting/LightingPanel.css
Labels: ui, styles

Fix character token creation permissions for players
  firestore.rules
Labels: none

Add manual token generation for DMs and fix drag visual
  src/components/VTT/TokenManager/TokenPalette.jsx
  src/components/VTT/VTTSession/CharacterSheetPanel.css
  src/components/VTT/VTTSession/CharacterSheetPanel.jsx
  src/services/characterSheetService.js
Labels: ui, context, styles

fix(vtt): Token manager improvements - deselect and sizing
  firestore.rules
  src/components/VTT/Canvas/MapCanvas.jsx
  src/services/vtt/shapePreviewService.js
Labels: ui, context

fix(vtt): Player UX improvements - context menu, shapes, token dragging
  VTT_GRID_AND_SELECTION_FIXES.md
  docs/archives/TIMING_FIXES.md
  docs/archives/TOKEN_AUTO_CREATION_FIX.md
  docs/archives/TOKEN_MANAGER_ENHANCEMENTS.md
  docs/archives/TOKEN_NAME_AND_SHAPE_TOOL_FIXES.md
  docs/archives/UI_UX_IMPROVEMENTS.md
  docs/archives/USER_DELETION_SUMMARY.md
  docs/archives/VOICE_CHAT_ACCESS_GUIDE.md
  docs/archives/VOICE_CHAT_PERMISSION_FIX.md
  docs/archives/VOICE_CHAT_QUICK_START.md
  docs/archives/VOICE_CHAT_QUICK_TEST.md
  docs/archives/VOICE_DEVICE_SELECTION.md
  docs/archives/VTT_AUDIT_REPORT.md
  docs/archives/VTT_BUG_FIXES.md
  docs/archives/VTT_ENHANCEMENT_SUMMARY.md
  docs/archives/VTT_FIXES_FINAL.md
  docs/archives/VTT_HOOK_EXPORT_FIX.md
  docs/archives/VTT_IMPROVEMENTS_IMPLEMENTED.md
  docs/archives/VTT_LIGHTING_FOG_FEATURES.md
  docs/archives/VTT_LIGHTING_WEATHER_AMBIENCE_PLAN.md
  docs/archives/VTT_PERFORMANCE_OPTIMIZATIONS.md
  docs/archives/VTT_PERMISSION_FIX.md
  docs/archives/VTT_PHASE_1_SETUP.md
  docs/archives/VTT_PHASE_2_COMPLETE.md
  docs/archives/VTT_PHASE_3_COMPLETE.md
  docs/archives/VTT_PHASE_3_DECISION.md
  docs/archives/VTT_PHASE_3_PLAN.md
  docs/archives/VTT_SESSION_COMPLETE.md
  docs/archives/VTT_SYSTEM_FIXES.md
  docs/archives/VTT_UI_IMPROVEMENTS.md
  docs/archives/VTT_UX_IMPROVEMENTS.md
  docs/archives/WEBRTC_ANSWER_FIX.md
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/TokenManager/TokenContextMenu.jsx
  src/components/VTT/TokenManager/TokenManager.jsx
  src/components/VTT/VTTSession/VTTSession.jsx
Labels: ui

Added performance update documentation
  docs/VTT_PERFORMANCE_REPORT.md
  docs/VTT_Performance_Audit.md
Labels: none

Fix VTT map real-time sync and campaign query permissions
  GRID_SYNC_AND_FOG_PANEL_IMPLEMENTATION.md
  MAP_LIBRARY_ACCESSIBILITY.md
  SIDEBAR_IMPROVEMENTS.md
  firestore.rules
  src/components/VTT/Canvas/FogPanel.css
  src/components/VTT/Canvas/FogPanel.jsx
  src/components/VTT/Canvas/MapCanvas.jsx
  src/components/VTT/VTTSession/MapQueue.jsx
  src/components/VTT/VTTSession/VTTSession.css
  src/components/VTT/VTTSession/VTTSession.jsx
  src/services/vtt/fogOfWarService.js
Labels: ui, context, styles
